html,body{
	height:100%;
}
body{
	@media(min-width:600px){
		// padding: $space;
	}
}
p{
	.post:first-child &:first-child{
		margin-top: 0px;
	}
}

%fleft{float: left;}
%fright{float: right;}
%nomargin{margin:0;}
.content{
	@media(max-width:599px){
		border-top: 1px solid $off-white;
		max-width: 100%;
		padding:$space;
	}
	@media(min-width:600px){
		@extend %fleft;
		max-width: 80%;
		margin-left: 20%;
		margin-top: $space;
		padding:0 $space;
	}
	@media(min-width:1000px){
		max-width: 60%;
	}
}
.right{
	@extend %fright;
	width: 20%;
}
.site-header{
	@media(max-width:599px){
		width:100%;
		margin:$space auto;
		text-align: center;
		img{
			width: 15%;
		}
	}
	@media(min-width:600px){
		width: 15%;
		position: fixed;
		top: $space;
		left: $space;
		p{
			margin-top:0;
		}
	}
}
.site-footer{
	border-top: 1px solid $off-white;
	clear:both;
	padding: 0 $space;
	@media(min-width:600px){
		.copyright{
			margin-left: 21%;
		}
	}
}
.post-footer{
	margin: 1.414em 0 0.5em;
}