.nav{
	list-style:none;
    padding-left:0;
    @extend %cf;
    > li{
        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}
.nav-fit{
    display:table;
    width:100%;

    > li{
        display:table-cell;

        > a{
            display:block;
        }
    }
}